:root {
    --breakpoint-desktop: 991px;
    --breakpoint-tablet: 768px;
    --paddingWrapper: 10px;
}


@media all and (max-width: 768px) {
    body {
        width: 100%;
    }

    header,
    footer {
        width: 100%;
    }

    main .wrapper {
        width: 100%;
        margin: 0;
        padding-left: var(--paddingWrapper);
        padding-right: var(--paddingWrapper);
    }

    .wrapper {
        box-sizing: border-box;
        width: 100%;
        padding-left: var(--paddingWrapper);
        padding-right: var(--paddingWrapper);
    }

    header nav {
        gap: 10px;
    }
/*
    .wrapper {
        border: 10px dashed yellow;
    }

    header, footer {
        border: 10px dashed orange;
    }
    */

    /** Spécifique à page itinéraire **/
    .welcomeBox__image {
        display: none;
    }

    .cardIUT {
        width: 100%;
        height: 500px;

        flex-direction: column-reverse;
        justify-content: start;
    }

    .cardIUT__content {
        margin-right: auto;
        margin-left: auto;
    }

    .cardIUT__content__body,
    .cardIUT__content__title, .cardIUT--inverted .cardIUT__content__body, .cardIUT--inverted .cardIUT__content__title {
        margin-left: 0;
        margin-right: 0;
    }

    .cardIUT__content__body__text {
        padding-left: 0;
        padding-right: 0;
    }

    .cardIUT__favorite, .cardIUT--inverted .cardIUT__favorite {
        border-bottom-right-radius: 0;
        border-top-right-radius: var(--arrondiBord);

        border-bottom-left-radius: 0;
        border-top-left-radius: var(--arrondiBord);

        width: 100%;
    }

    .cardIUT__content__body__text,
    .cardIUT__content__body__image {
        width: 100%;
    }

    .cardIUT--inverted .cardIUT__content__body,
    .cardIUT__content__body {
        flex-direction: column;
    }

    .cardIUT__content__body__image div img {
        max-height: 90%;

    }

    .cardIUT--inverted .cardIUT__content__title,
    .cardIUT__content__title {
        text-align: center;
    }

    .container-audio
    {
        flex-direction: column;
    }
    #h2Audio
    {
        align-self: center;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px)
{
    .wrapper
    {
        width: 90%;
    }
}

@media all and (min-width: 768px) and (max-width: 1000px)
{
    .cardIUT {
        width: 100%;
    }
}
