
:root{

    --couleurParties: rgba(192, 17, 17, 0.5);
    --fontSize: 20px;
    
}

/*Partie commun titres */

main h1
{
    text-align: center;
    color:#33261d;
}

main h2
{
    text-align: center;
}

/*----------------------------------*/

main p
{
    text-justify: auto;
    font-style: italic;
    font-size: var(--fontSize);
}

main ul
{
    text-justify: auto;
    font-style: italic;
    font-size: var(--fontSize);
}

main .par
{
    border-width:12px;
    border-radius: 30px;
    border: 2px solid #000;
    box-shadow: 0 6px 28px rgba(0,0,0,0.25), 0 4px 10px rgba(0,0,0,0.22);
    padding: 20px;
    background-color: var(--couleurParties);
}
.containerValidationPicture a figure
{
    border: 1px solid yellow;
}

.containerValidationPicture
{
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerValidationPicture a
{
    border: 1px solid green;
    color: white;
    text-decoration: none;
    width: 45%;
}
.containerValidationPicture a:visited
{
    color: white;
}
.containerValidationPicture figure
{
    display: flex;
    flex-direction: column;
}
.containerValidationPicture img
{
    width: 100%;
    object-fit: cover;
}
.containerValidationPicture figcaption
{
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}